*{
    margin: 0;
    padding: 0;
}

.lorem01{
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 40px;
}
.lorem01 > p{
    color: #C4C4C4;
    font-size: 100px;
    line-height: 1.5em;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    border:2px solid ;
    border-radius: 50%;
     
}

#bnt-color-blue{
    background-color: rgb(187, 119, 233);
    width: 70px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.text{
    display: flex;
    flex-direction: column;
    gap:10px
}